<main>
    <br />
    <div class="w3-container medi-yellow">
        <h2>Edit Profile</h2>
    </div>

    <p class="profile-status1">{{status1}}</p>
    <p class="profile-status2">{{status2}}</p>
    <div class="form-container">
        <form class="w3-container" method="post" action="/edit-profile">
            <p>
                <label>First Name</label>
                <input class="w3-input" type="text" name="fname" placeholder="{{user.fname}}"></p>
            <p>
                <label>Last Name</label>
                <input class="w3-input" type="text" name="lname" placeholder="{{user.lname}}"></p>
            <p>
                <label>Email</label>
                <input class="w3-input" type="email" name="email" placeholder="{{user.email}}"></p>
            <p>
                <label>Gender</label><br />
                <select name="gender">
                   {{!--  <option value="" selected disabled hidden></option> --}}
                    <option value="male" {{genderSel1}}>Male</option>
                    <option value="female" {{genderSel2}}>Female</option>
                </select></p>
            <p>
                <label>Date of born</label>
                <input class="w3-input" type="date" name="dob" value={{user.dob}}></p>
            <br />
            <button type="submit" class="button1">Save</button>
            <button type="button" class="button1" onclick="changePWD()">Change Password</button>
            <button type="button" class="button1" onclick="backToDashboard()">Back</button>
        </form>
    </div>
</main>