<main>


          {{#unless reservation}}
          <div class="w3-container medi-yellow">
            <h2>Booking not found</h2>
          </div>
          {{/unless}}
          
          {{#if reservation}}
          <div class="w3-container medi-yellow">
            <h2>Booking ID: #{{reservation._id}}</h2>
            {{!-- <p class="extra"><a href="/login">(Already have an account? Login</a>)</p> --}}
          </div>
          <br/>

          
<div class="w3-container" id="booking_info_table_cont">
            
            <table id="booking_info_table" class="info_table">
              {{!-- <tr>
                <th>Patient</th>
                <th>Info</th>
                
              </tr> --}}
              <tr>
                <td style="width: 30%">Patient Frist Name</td>
                <td>{{reservation.patient.fname}}</td>
                
              </tr>
              <tr>
                <td>Patient Last Name</td>
                <td>{{reservation.patient.lname}}</td>
              </tr>
              {{!-- <tr>
                <td>Email</td>
                <td>{{reservation.patient.email}}</td>
              </tr> --}}
              <tr>
                <td>Appointment Date</td>
                <td>{{reservation.date_formatted}}</td>
              </tr>
              <tr>
                <td>Doctor Name</td>
                <td>Dr. {{reservation.doctor.lname}}</td>
              </tr>
              {{#if reservation.diagnosis}}
              <tr>
                <td>Diagnosis</td>
                <td>{{reservation.diagnosis}}</td>
              </tr>
              {{/if}}
              {{#if reservation.prescription.medicineList}}
              <tr>
                <td>Medicines</td>
                <td>
                  {{#each reservation.prescription.medicineList}}
                  <span>{{this.name}}{{#unless @last}},{{/unless}}</span>
                  {{/each}}
                </td>
              </tr>
              {{/if}}
              {{#if reservation.room}}
              <tr>
                <td>Room</td>
                <td>
                  <span>{{reservation.room.name}}</span>
                </td>
              </tr>
              {{/if}}
              <tr>
                <td>Cost</td>
                {{#if reservation.cost}}
                <td>${{reservation.cost}}</td>
                {{else}}
                <td>0</td>
                {{/if}}
              </tr>
              <tr>
                <td>Booking Status</td>
                <td>
                  {{#if user.isDoctor}}
                  <select style="color:gray" class="w3-input select-50" name="reservation_status">
                    <option value="confirmed" {{#ifEquals reservation.status 'confirmed'}}selected{{/ifEquals}}>Confirmed</option>
                    <option value="consulted" {{#ifEquals reservation.status 'consulted'}}selected{{/ifEquals}}>Consulted</option>
                    <option value="prescribed" {{#ifEquals reservation.status 'prescribed'}}selected{{/ifEquals}}>Prescribed</option>
                    <option value="admitted" {{#ifEquals reservation.status 'admitted'}}selected{{/ifEquals}}>Admitted</option>
                    <option value="completed" {{#ifEquals reservation.status 'completed'}}selected{{/ifEquals}}>Completed</option>
                  </select>
                  {{else}}
                  <span>{{reservation.status}}</span>
                  {{/if}}
                </td>
              </tr>
              
              
            </table>
            {{#if user.isDoctor}}
            <p class="doc_actions_cont">
              {{#if reservation.presription}}
              <button class="button1" onclick="viewPrescription('{{reservation._id}}');return false">View Prescription</button>
              {{else}}
              <button class="button1" onclick="createPrescription('{{reservation._id}}'); return false;">Prescribe</button>
              {{/if}}
              <button class="button1" onclick="location.href='/reservation'">All Bookings</button>
              <button class="button1" onclick="updateReservationStatus('{{reservation._id}}')">Update Status</button>
            </p>
            {{else}}
            <p class="edit_buttons_cont">
              <p class="edit_buttons_cont">
      {{#ifEquals reservation.status 'confirmed'}}
      <button class="button1"
        onclick="showElement('#edit_reservation_form_cont');hideElement('#booking_info_table_cont'); return false;">Edit</button>
      <button class="button1" onclick="alert('this will deleted the reservation'); return false;">Delete</button>
      {{/ifEquals}}

      {{#ifNotEquals reservation.status 'confirmed'}}

      {{#ifNotEquals reservation.status 'completed'}}
      <button class="button1" onclick="Pay('{{reservation._id}}');return false;">Pay</button>
      <button class="button1" onclick="generateBill('{{reservation._id}}')">Invoice</button>
      {{/ifNotEquals}}

      {{#ifEquals reservation.status 'completed'}}
      <button class="button1" onclick="generateBill('{{reservation._id}}')">Invoice</button>
      {{/ifEquals}}
      {{/ifNotEquals}}
    </p>

              {{!-- {{#ifNotEquals reservation.status 'confirmed'}}
              <button class="button1" onclick="alert('this will redirect to payment');return false;">Pay</button>
              <button class="button1" onclick="generateBill('{{reservation._id}}')">Invoice</button>
              {{/ifNotEquals}}--}}
            </p>
            {{/if}}
          </div>






          <div class="form-container" id="edit_reservation_form_cont" style="display: none">
          <form class="w3-container" method="post" action="/reservation/edit" id="edit_reservation_form">
            <input type="hidden" name="reservation_id" value="{{reservation._id}}">
            <p>
            <input type="hidden" name="patient_id" value="{{reservation.patientid}}">
            <p>
            <label>First Name</label>
            <input class="w3-input" type="text" name="fname" value="{{reservation.patient.fname}}"></p>
            <p>
            <label>Last Name</label>
            <input class="w3-input" type="text" name="lname" value="{{reservation.patient.lname}}"></p>
            <p>
            <label>Email</label>
            <input class="w3-input" type="text" name="email" value="{{reservation.patient.email}}"></p>
            <p>
            <label>Doctor</label>
            <select class="w3-input" name="doctor_id">
              <option></option>
              {{#each doctorList}}
              <option value="{{this._id}}" {{#if this.selected}} selected {{/if}}>{{this.fname}} {{this.lname}}</option>
              {{/each}}
            </select></p>
            <p>
            <label>Date</label>
            <input class="w3-input" type="date" name="app_date" value="{{reservation.date_formatted}}"></p>
            
            <br/>
            {{#unless user.isDoctor}}
            <button type="submit" class="button1">Submit</button>
            <button class="button1" onclick="hideElement('#edit_reservation_form_cont');showElement('#booking_info_table_cont'); return false;">Cancel</button>
            {{/unless}}

            
          </form>
          </div>
          {{/if}}
          
  {{!-- <form id="search_form" action="/search">
      <label for="person_name">Person Name</label>
      <br/>
      <input name="personName" id="person_name" type="text" placeholder="Enter text to search"/>
      <br/>
      <button type="submit" class="button1">Go!</button>
  </form> --}}

</main>